.description {
    display: flex;
    margin: auto;
    padding: 30px 80px 0px 80px;
    align-items: center;   
    justify-content: space-between;
    background-color: #f3fafb;
}
.img_parte1 {
    width: 50%;
    height: 50%;
}
.column_1 {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-content: space-between;
}
h3 {
    font-size: 40px;
    font-family: italic;
    padding: 0px 0px 20px 50px;
}
p {
    font-size: 15px;
    font-family: italic;
    padding: 0px 0px 20px 50px;
}
ul {
    padding: 0px 0px 20px 50px;
    font-size: 15px;
    font-family: italic;
    color:  #60706b;
}
ul li {
    margin-left: 20px;
}
.bttn_descriptionUno {
    color: white;
    font-family: italic;
    font-weight: bolder;
    background-color: #fc6063;
    border: 2px solid #fc6063;
    border-radius:15px;
    padding: 10px 30px;
    margin: 25px 5px;
    height: 50px;
    width: 150px;
    
}
.bttn_descriptionUno {
    margin-left: 60px;
}
.img_partedos {
    width: 50%;
    height: 50%;
}
.description_dos {
    display: flex;
    margin: auto;
    padding: 30px 80px 0px 80px;
    align-items: center;   
    justify-content: space-between;
    background-color: #dbe9e6;
}